# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm
.idea/

# VSCode
.vscode/

# Pyre type checker
.pyre/

# Data and logs
*.log
*.tsv
*.sqlite
*.db

# Secret keys and credentials
*.key
*.pem
*.env
openai_key.txt

# Model files
*.pt
*.pkl
*.bin
*.h5


# System-specific files
.DS_Store
Thumbs.db


# Local configuration files
.env